.AnswerItem {
    border: 0.5px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.AnswerItem:hover{
    background: rgba(255,255,255,.2);
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.AnswerItem.success{
    background: rgba(201,240,69, .7);
}

.AnswerItem.error{
    background: rgba(240,87,187, .7);
}